#fos_user_change_password .login_error{
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
	color: #AA0000;
}
.fos_user_change_password{ 
	width:540px;
	margin: 60px auto 10px auto; 
	padding: 30px 0px 30px 60px;
	background: #fff;
	border: 1px solid #A2A2A3;
	color: #000022; 
}
form.fos_user_change_password p{
	font-weight: bold;
	margin-left: 98px; 
	font-size: 12px; 
}
form.fos_user_change_password { 
	font-size: 14px; 
}
form.fos_user_change_password label { 
	float: left;
	font-family: Trebuchet MS, sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	color: #003366;
	margin-right: 2px; 
	text-align: left; 
	width: 530px; 
	margin-top: 10px;
	vertical-align: top; 
}
form.fos_user_change_password input[type="text"],
form.fos_user_change_password input[type="password"],
form.fos_user_change_password input[type="email"],
form.fos_user_change_password input[type="date"]{ 
	width: 400px; 
	line-height: 18px; 
	font-size: 14px; 
	min-height: 18px; 
}
form.fos_user_change_password textarea { 
	width: 350px; 
	height: 110px; 
	line-height: 18px; 
	font-size: 14px; 
}
form.fos_user_change_password input[type="submit"] {  
	line-height: 18px; 
	margin-top: 10px;
	text-align: right; 
	font-size: 12px; 
	min-height: 26px; 
	color: #FFFFFF;
	background: #991142;
	font: 13px arial;
	border: 1px #A2A2A2 solid;
}
form.fos_user_change_password a {  
	line-height: 18px; 
	padding: 4px 7px 5px 7px;
	margin: 10px 0 0 4px;
	text-align: right; 
	font-size: 12px; 
	min-height: 26px; 
	color: #FFFFFF;
	background: #991142;
	font: 13px arial;
	border: 1px #A2A2A2 solid;
}
form.fos_user_change_password ul li { 
	color: #ff0000; 
	margin-bottom: 5px; 
}
