			<div class="container header">
				<div class="h-left">
					<div class="logo"></div>
					<p class="slogan">
						SLSMPRO
					</p>
				</div>
				<div class="h-right">
					{%include "BoQuizBundle:Default:userinfo.html.twig"%}
				</div>
			</div>
