		<div class="know-how">
			<img src="{{ asset('images/others/know-how.gif') }}" border="0" alt="{{'message.knowhow'|trans([],'BoAdminBundle')}}"/>
			<!--p align="center">{{'message.knowhow'|trans([],'BoAdminBundle')}}</p--!>
		</div>

