{% extends 'common.html.twig' %}
{% block hright%}
	{%include "default/userinfo.html.twig"%}
{% endblock %}
{% block nemu %}
	{%include "default/pm.html.twig"%}
{% endblock %}
{% block smenu %}
{% endblock %}	
{% block right %}
	<div class="col-sm-2 sidenav">
		<div class="well">
			{% block nav %}{% endblock %}							
		</div>
		<!--div class="well">
			{%include "default/slogan.html.twig"%}						
		</div-->
	</div>
{% endblock %}							

