{% extends 'common.html.twig' %}
{% block hright%}
	{%include "BoCoordinatorBundle:Default:userinfo.html.twig"%}
{% endblock %}
{% block nemu %}
	{%include "BoCoordinatorBundle:Default:pm.html.twig"%}
{% endblock %}
{% block smenu %}
{% endblock %}	
{% block right %}
	<div class="col-sm-2 sidenav">
		<div class="well">
			{% block nav %}{% endblock %}							
		</div>
	</div>
{% endblock %}							

